/* ========== Common css Start ========== */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 1320px;
    margin: 0 auto;

}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

span {
    display: block;
}

/* ========== Common css End ========== */

/* ========== Navbar css Start ========== */

#navbar {
    position: absolute;
    width: 100%;
}

#navbar .navbar-wrapper {
    display: flex;
    padding-top: 28px;
}

#navbar .logo {
    width: 20%;
}

#navbar .nav-items {
    width: 80%;

}

#navbar .nav-items ul {
    display: flex;
    justify-content: flex-end;
}

#navbar .nav-items ul li {
    padding-left: 60px;
}

#navbar .nav-items ul li a {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

#navbar .nav-items ul li a:hover {
    color: black;
}

/* ========== Navbar css End ========== */

/* ========== banner css Start ========== */

#banner {
    background: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 462px 0px;
}


#banner p {
    color: #FFC178;
    font-size: 18px;
    font-weight: 700px;
    letter-spacing: 7px;
}

#banner h1 {
    color: white;
    font-size: 96px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

#banner h1 span {
    display: block;
    font-weight: 400;
    font-size: 88px;

}



/* ========== banner css End ========== */


/* ========== About css Start ========== */
#about {
    padding-top: 286px;
    padding-bottom: 295px;
    background-color: black;
}


#about .about-wrapper {
    display: flex;
}


#about .article-section {
    padding-left: 143px;
}

#about h6 {
    color: #FBD784;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 6px;
    font-family: "Open Sans", sans-serif;
    padding-top: 78px;
    text-transform: uppercase;

}

#about h2 {
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    padding-top: 13px;
    text-transform: uppercase;
}

#about p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    line-height: 32px;
    padding-top: 13px;
    width: 587px;
    text-transform: uppercase;
}

#about a {
    color: #FBD784;
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    padding-top: 66px;
    text-transform: uppercase;

}

/* ========== About css End ========== */

/* ========== Other css Start ========== */
#other {
    background: url('../images/other-section-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 572px;
    padding-bottom: 33px;
    background-color: #000;
}

#other .other-wrapper {
    text-align: center;
}

#other .other-wrapper h6 {
    color: #FBD784;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 6px;
    font-family: "Open Sans", sans-serif;

    text-transform: uppercase;

}

#other .other-wrapper h2 {
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    padding-top: 12.5px;
    padding-bottom: 13.5px;
    text-transform: uppercase;
}

#other .other-wrapper p {
    color: #ffffff;
    font-size: 15px;
    margin: 0 auto;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    width: 893px;

    line-height: 32px;
    text-transform: uppercase;
}

#other .other-wrapper a {
    color: #FBD784;
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    padding-top: 25px;
    text-transform: uppercase;

}

/* ========== Other css End ========== */


/* ========== Culture css Start ========== */

#Culture-part {
    background-color: rgb(0, 0, 0);
    padding-top: 295px;
    padding-bottom: 199px;
}

#Culture-part .Culture-part-wrapper {
    display: flex;

}

#Culture-part .article-section {
    margin-right: 37px;
    margin-top: 153px;
    margin-bottom: 154px;
}


#Culture-part .article-section h6 {
    color: #FBD784;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 6px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;

}

#Culture-part .article-section h2 {
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    padding: 19px 0px;
    text-transform: uppercase;
    width: 663px;
}

#Culture-part .article-section p {
    color: #ffffff;
    font-size: 18px;
    margin: 0 auto;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    width: 655px;
    line-height: 32px;
    text-transform: uppercase;
}

#Culture-part .article-section a {
    color: #FBD784;
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    padding-top: 47px;
    text-transform: uppercase;
}

/* ========== Culture css End ========== */



/* ========== footer css Start ========== */

#footer {
    background-color: rgb(0, 0, 0);
}

#footer .footer-top {
    display: flex;
    justify-content: space-between;
}

#footer .footer-top .footer-button {
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-button p {
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.3px;
    color: white;
}

#footer .footer-top .footer-button a {
    width: 232px;
    height: 59px;
    background-color: #FFA343;
    font-size: 17px;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 18px;
    color: #000;
    padding: 18px 67px;
    font-family: "Open Sans", sans-serif;
}


#footer .footer-middle {
    display: flex;
   
}

#footer .footer-middle h3 {
    font-size: 36px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.3px;
    color: white;
    font-weight: 700;
    margin-top: 8px;

}

#footer .footer-middle h6 {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.3px;
    font-weight: 400;
    color: white;
    margin-top: 36px;
    

}


#footer .first-ul {
    margin-left: 275px;

}

#footer ul li a{
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.2;
    color: white;
    line-height: 38PX;
    font-family: "Open Sans", sans-serif;
}

#footer .second-ul {
    margin-left: 85px;

}

#footer .third-ul {
    margin-left: 138px;

}


#footer .footer-middle{
    margin-top: 72px;
}

#footer ul li{
    color: #FFD1A0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .23px;
    line-height: 38PX;
    font-family: "Open Sans", sans-serif;
}

#footer .social-icon{
    display: flex;
    width: 116.4px;
    justify-content: space-between;
    margin-top: 48px;
}

/* #footer .social-icon .fb:hover{
    background-color: blue;
    border-radius: 10px;
} */

#footer .copyright p{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-top: 154px;
    padding-bottom: 30px;
    text-align: center;
    font-family: "Open Sans", sans-serif;

}

/* ========== footer css End ========== */